
  <p class="mx-3 mt-3.5">صنایع منتخب</p>

  <ul class="flex flex-wrap mr-2 gap-2 py-2.5 text-lg">
    <li class="basis-1/4 rounded-md bg-white shrink hover:cursor-pointer cvt"
        *ngFor="let list of searchList">
      <a
        class="d-flex flex-column py-2.5 align-items-center"
        id="search-panel-sector-27-a">
      <span
        class="text-muted"
        id="search-panel-sector-27-span">
        <img alt="{{list.name}}" width="22" height="22" src="{{list.iconSrc}}"/>
      </span>

        {{ list.name }}
      </a>
    </li>
  </ul>

