.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2.25rem;
}

.menu-item {
  cursor: pointer;
}

.full-offset {
  inset: 0 !important;
}

.menu-item-tab {
  color: #4f6883;
  margin-bottom: 1px;
  background: 0 6px color-mix(in srgb, #4f6883, #000 40%);
}

.menu-scrollable-items {
  position: relative;
}

.menu-scrollable-items:before, .menu-scrollable-items:after {
  content: "";
  position: absolute;
  height: 35px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(0, rgba(var(--color-base-rgb), 0), rgba(var(--color-base-rgb), 1) 20%);
}

.cup {
  cursor: pointer !important;
}

.icon-chevron-up, .icon-chevron-down {
  display: block !important;
  background-color: #4f6883;
}

.menu-item:hover {
  border-radius: 100%;
  background-color: rgb(247 254 231);
  color: #4f6883;
}

.writing-mode {
  writing-mode: tb;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 3px;
}

.hide-scroll {
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

}
