@import '../../../styles/variables';

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 5px;
  left: 0;
  width: 2.25rem;
}
.menu-item:hover {
  border-radius: 100%;
  background-color: $bg-hover-active;
  color: $bg-color;
}
.menu-item-active{
  border-radius: 0 50% 50% 0;
  margin-right: 4px;
  background-color: $bg-hover-active;
  color: $bg-color;
  transition: 0.3s;
  :before {
    content: "";
    position: absolute;
    height: 18px;
    width: 10px;
    top: 23px;
    left:0;
    border-radius: 0 0 0 10px;
    background: $bg-color;
    box-shadow: -2px 4px 0px 0px $bg-hover-active;
  }

  :after{
      content: "";
      position: absolute;
      height: 13px;
      width: 10px;
      top: 76px;
      left:0;
      border-radius: 10px 0 0 0;
      background: $bg-color;
      box-shadow: -2px -4px 0px 0px $bg-hover-active;

  }
}
.full-offset {
  inset: 0 !important;
}
.menu-item-tab {
  color: $bg-color;
  margin-bottom: 1px;
  background: 0 6px color-mix(in srgb, $bg-color, #000 40%);
}

.menu-scrollable-items {
  position: relative;
  :before,:after {
    content: "";
    position: absolute;
    height: 35px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(0, rgba(var(--color-base-rgb), 0), rgba(var(--color-base-rgb), 1) 20%);
  }
}

.cup {
  cursor: pointer !important;
}

.icon-chevron-up, .icon-chevron-down {
  display: block !important;
  background-color: $bg-color;
}

.writing-mode {
  writing-mode: tb;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 3px;
}

.hide-scroll {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.kvc{
  justify-content: center;
  padding: 2px 0 5px;
  display: flex;
}
